<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="menu.xsl"?> 
<root>
	<item href="/" title="Главная"></item>
	<item href="/news.php" title="Новости"></item>
	<item href="/catalog.php" title="Каталог"></item>
	<item href="/about.php" title="О компании"></item>
</root>